.main-header {
    background: url(../img/city-continent-country-destination-269790.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    margin-bottom: 30px;
}
.main-header h1 {
    margin: 0;
    padding-top: 30px;
}
body {
    background-color: #f2f2f2;
    
}
.img-content {
    /* color: white; */
}
.page-footer {
    background: #03385c;
}

/* 
.pagination li {
    display: inline-block;
    padding: 5px;
} */


@media screen and (max-width: 600px) {
    #share-buttons {
        display: block;
        position: fixed;
        right: 1%;
        top: 50%;
    }
}
@media screen and (min-width: 601px) {
    #share-buttons {
        display: block;
        position: fixed;
        left: 1%;
        top: 50%;
    }
}


#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: block;

}
.d-none {
    display: none;
}

